<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- to activate annotations in beans already registered in the application context -->
    <context:annotation-config />

    <!-- scans packages to find and register beans within the application context -->
    <context:component-scan base-package="dao" />

    <!-- jdbcTemplate uses dataSource -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <!-- dataSource configuration -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://91.217.9.247:3306/arshak90_gaz22"/>
        <property name="username" value="arshak90_gaz22" />
        <property name="password" value="passwordforgaz" />
    </bean>

    <bean id="cache" class="Core.CacheForm" scope="singleton" />

    <bean id="exportForm" class="Beans.ExportForm" scope="singleton" />

    <bean id="root" class="Core.Root" scope="singleton" />

    <bean id="fileUpload" class="Core.FileUpload" scope="session"/>
    <bean id="testForm" class="Beans.TestForm" scope="session"/>

    <bean id="authorisationUtil" class="Core.AuthorisationUtil" scope="session"/>

    <bean id="projectEditForm" class="Beans.ProjectEditForm" scope="session">
        <property name="root" ref="root"/>
    </bean>

    <bean id="HomeForm" class="home.HomeForm" scope="session">
        <property name="root" ref="root"/>
    </bean>

    <bean id="dashboardForm" class="dashboard.DashboardForm" scope="session" >
    </bean>

    <bean id="portfolioForm" class="portfolio.PortfolioForm" scope="session">
        <property name="cache" ref="cache" />
        <property name="loginForm" ref="loginForm"/>
    </bean>

    <!--HOTEL BEANS-->

    <bean id="hotel" class="hotel.Hotel" scope="session"/>

    <bean id="settingsForm" class="hotel.SettingsForm" scope="session" >
        <property name="cache" ref="cache" />
    </bean>

    <!--Map form-->
    <bean id="mapForm" class="analytics.MapForm" scope="session" >
        <property name="root" ref="root"/>
    </bean>

    <!-- Login Form -->
    <bean id="user" class="login.User" scope="session"/>

    <bean id="loginForm" class="login.LoginForm" scope="session" >
        <property name="root" ref="root"/>
        <property name="user" ref="user"/>
    </bean>


</beans>